#passwd{
  width: 100%;
  height: 100vh;
}

.container{
    background-position: center;
    background-size: cover;
    /* margin-left: 50px;
    margin-bottom: 20px; */
}
.img3 {
    background-image: url(https://images.unsplash.com/photo-1584433144859-1fc3ab64a957?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGFzc3dvcmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60);
    /* width: 100%;
    height: 100vh; */
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .img3::before {
    content: '';
    position: absolute;
    /* height: 100%;
    width: 100%; */
    background: rgba(0, 0, 0, 0.4);
  }